html, body {
    width: 100%;
    height: 100%;
}

#container {
    display: grid;
    background-color: black;
    width: 100%;
    height: 100%;  
}

.grid-item {
    color:blue;
    background-color: gray;
}

.grid-item:hover {
    background-color: darkgray;
}

.colored {
background-color: black;
}

#btn-container {
    display:flex;
    flex-direction: column;
}

#clear-btn {
    background-color: rgb(238, 42, 42);
    color: yellow;
    font-size:25px;
    font-family: 'Festive', cursive;
    padding-top:5px;
    padding-bottom:5px;
}